@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root {
    --color-1: rgb(7, 66, 113);
    --color-2: rgb(176, 144, 110);
    --color-3: rgb(232, 233, 235);
    --color-4: rgb(85, 82, 61);
}
#mainForm {
    background-color: var(--color-2);
}

.welcomeHeading {
    font-family: 'Anton SC', serif !important;
    color: #E5D1B4;
    font-size: 10rem;
}

.accountText {
    font-family: 'Anton SC', serif !important;
    font-size: 4rem;
    color: var(--color-4)
}
.fonts {
    font-family: 'Anton SC', serif !important;
    font-size: 1.5rem;
    color: var(--color-4)
}


/* @media (max-width: 600px) {
    #mainFormWrapper {
        display: flex;
        flex-direction: column;
    }
} */